<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h1>Add URL</h1>
      <p>Format: http(s)://www.website.com</p>
        <form name="jobForm" ng-submit="saveURL()">
          URL: <input type="url" name="input" ng-model="job.url" required /> <input type="submit" class="btn btn-primary" value="Save"/>
          <div role="alert">
            <span class="error" ng-show="jobForm.input.$error.required">URL is required!</span>
            <span class="error" ng-show="jobForm.input.$error.url">Not a valid URL!</span>
          </div>
        </form>
    </div>
  </div>
  
  <div class="row padding"  ng-if="jobID">
    <div class="col-xl-12">
        <p class="message">{{ message }}</p>
        <table class="table table-striped">
        <tr>
          <th>JOB ID</th>
          <th>ACTION</th>
        </tr>
        <tr>
          <td>{{ jobID }}</td>
          <td><a href="#!/jobs/{{jobID}}" target="_blank">Check Status</a></td>
        </tr>
      </table>
    </div>
  </div>  
  

</div>
